html{
  font-size: 16px;
}

.banner{
  background-image: url(../images/code-globe.jpg);
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  /*display: flex;*/
}

.banner .container{
  width: 960px;
  background-color: white;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display:inline-flex;
  justify-content: center;
}

.desktopnavigation{
  display:flex;
}

ul{
display: inline-flex;
}
