html{
  font-size: 16px;
}

header{
  height:30px;
  /*margin-bottom: 1rem;*/
}

.jumbotron{
  background-image: url(../images/code-globe.jpg);
  height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /*width: 100%;*/
  /*display: flex;*/
}

.bannerimg{
  background-image: url(../images/yin_yang.jpg);
  background-position: center;
  background-size: contain;
  position: absolute;
  top:35%;
  left: 35%;
  height: 15rem;
  border-radius: 50%;
}

.icon1{
  background-image: url(../images/htm-black.svg);
}

.icon2{
background-image: url(../images/globe.svg);
margin-left: 1rem;
margin-right: 1rem;
}

.icon3{
  background-image: url(../images/htm-blue.svg);
}

.icon1,.icon2,.icon3{
  width: 30%;
  height: 13rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: Azure;

}
